ul a,
ul li {
    align-items: center;
    color: var(--background-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: clamp(14px, 2vw, 16px);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    text-decoration: none;
}

.dropdown-closed {
    display: none;
}

.dropdown-open {
    background: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 30px;
}

.dropdown-toggle #dropdown-icon {
    color: var(--dark-purple-color);
    margin-left: -5px;
}

@media (max-width: 768px) {
    ul {
        display: none;
    }
}