.carousel-container {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-controls-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

@media (max-width: 425px) {
    .carousel-controls-container {
        transform: none;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}