@import "./color-palette.css";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: "SportsJersey";
  src: url('../fonts/sports_jersey/sportsjersey.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  /* font-family: ; */
  font-size: 1.6rem;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../../../public/img/scattered-forcefields.png');
  background-position: center;
  background-size: 100%;
  font-family: 'Lato', sans-serif;
}