@font-face {
  font-family: "SportsJersey";
  src: url('../fonts/sports_jersey/sportsjersey.ttf') format('truetype');
}

@import "./variables.css";

@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Exo:wght@700&family=Noto+Sans+Georgian:wght@200&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../../../public/img/WebsiteBackground/scattered-forcefields.png');
  background-position: center;
  background-size: 100%;
  color: var(--pale-aqua-color);
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
}

body::before {
  background-color: rgba(0, 0, 0, 0.705);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

body ul li {
  list-style: none;
}

h1 {
  font-family: 'Exo', sans-serif;
  font-size: clamp(2rem, 5vw, 4rem);
  text-transform: uppercase;
  margin-bottom: var(--spacing-vertical);
}

.form-title {
  color: var(--light-blue-color);
  font-family: 'Exo', sans-serif;
  font-size: clamp(2.6rem, 3vw, 3rem);
  text-transform: uppercase;
  margin-bottom: var(--spacing-vertical);
}

h2 {
  font-family: 'Exo', sans-serif;
  font-size: clamp(2.6rem, 3vw, 3rem);
  text-transform: uppercase;
  margin-bottom: var(--spacing-vertical);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

p {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
}

span {
  font-family: 'Exo 2', sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

.highlight-span {
  color: var(--light-blue-color);
  font-family: 'Noto Sans Georgian', sans-serif;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #b6eadabb;
  transition: var(--slow-element-transition);


  &:hover {
    color: var(--light-blue-color);
  }
}
